<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Nomad Nest'}) %>
    <link rel="stylesheet" href="/styles/destination-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <!-- <section class="hero">
        <h2>Available Pets</h2>
        <h3>Will you be the forever home and provide love to one of these special animals?</h3>
    </section> -->

    <main>
        <section class="listings">
            <ul>
                <% for (let destination of destinations) { %>
                <li>
                    <figure>
                        <img src="<%= destination.photo %>">
                        <figcaption>
                            <h4><%= destination.name %></h4>
                            <p><b>Average Monthly Cost:</b> <%= destination.averageCost %></p>
                            <p><b>Visa Requirement:</b> <%= destination.visa %></p>
                            <a href="/destinations/<%= destination._id %>">View</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
