<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${destination.name} | Nomad Nest`}) %>
    <link rel="stylesheet" href="/styles/destination-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= destination.photo %>">
        <h2 class="destination-name"><%= destination.name %></h2>
        <section>
            <p><b>Average Monthly Cost:</b> <%= destination.averageCost %></p>
            <p><b>Visa Requirement:</b> <%= destination.visa %></p>
            <p><strong>Description:</strong> <%= destination.description %></p>
            <section class="actions">
                <button class="btn"><a href="/destinations/<%= destination._id %>/edit">Edit</a></button>
                <form method="POST" action="/destinations/<%= destination._id %>?_method=DELETE">
                    <input class="btn" type="submit" value="Delete" />
                </form>
                <button class="btn"><a href="/reviews/new/<%= destination._id %>">Review</a></button>
            </section>
        </section>
    </div>
        <section class="listings">
            <ul>
                <% for (let review of destination.reviews) { %>
                <li>
                    <h4><%= review.reviewer %></h4>
                    <p>Created: <%= review.reviewDate %></p>
                    <a href="/reviews/<%= review._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
