<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${destination.name} | Nomad Nest`}) %>
    <link rel="stylesheet" href="/styles/destination-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= destination.photo %>">
        <h2 class="destination-name"><%= destination.name %></h2>
        <section>
            <p><span style="color: #939393">Average Monthly Cost:</span> <%= destination.averageCost %></p>
            <p><span style="color: #939393">Visa Requirement:</span> <%= destination.visa %></p>
            <p><span class="info"></span> <%= destination.description %></p>
        </section>
            <section class="actions">
                <button class="btn"><a href="/destinations/<%= destination._id %>/edit">Edit</a></button>
                <form method="POST" action="/destinations/<%= destination._id %>?_method=DELETE">
                    <input class="btn delete" type="submit" value="Delete" />
                </form>
                <button class="btn"><a href="/reviews/new/<%= destination._id %>">Review</a></button>
            </section>
        </div>
        
       
        <section class="listings">
                <% for (let review of destination.reviews) { %>
                    <div>
                    <h4><%= review.reviewer %> - <%= review.title %></h4>
                    <p>Created: <%= review.reviewDate.toLocaleDateString() %></p>
                    <button class="btn"><a href="/reviews/<%= review._id %>">Read More</a></button>
                    </div>  
                <% } %>
        </section>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
