<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Nomad Nest'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
           
            <h2>Find Your New Home Away from Home</h2>
            <a href="/destinations" class="btn">Let's Go!</a>
        </section>

        <section class="featured-destinations">
            <h2>Best Voted Destinations by Digital Nomads</h2>
            <ul class="destination-grid">
                <% for (let destination of destinations) { %>
                <li>
                    <figure>
                        <img src="<%= destination.photo %>">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= destination.name %></h3>
                            <p><b>Average Monthly Cost:</b> <%= destination.averageCost %></p>
                            <p><b>Visa Requirement:</b> <%= destination.visa %></p>
                        </div>
                        <a href="/destinations/<%= destination._id %>" class="btn">View</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
