<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Nomad Nest'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Find Your New Home Away from Home</h2>
            <!-- <a href="/pets" class="btn">Adopt Now!</a> -->
        </section>
<!-- 
        <section class="about">
            <h2>About Us</h2>
            <p>Furever Friends is a non-profit organization dedicated to finding loving homes for animals in need. We
                work with shelters and rescue groups across the country to help connect pets with their new families.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section> -->

        <section class="featured-destinations">
            <h2>Best Voted Destinations</h2>
            <ul class="destination-grid">
                <% for (let destination of destinations) { %>
                <li>
                    <figure>
                        <img src="<%= destination.photo %>">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= destination.name %></h3>
                            <p>Average Monthly Cost: <%= destination.averageCost %></p>
                            <p>Visa Requirement: <%= destination.visa %></p>
                        </div>
                        <a href="/destinations/<%= destination._id %>" class="btn">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
