<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Create a Review | Nomad Nest'}) %>
    <link rel="stylesheet" href="/styles/destination-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero review-new">
        <h2>Write a Review</h2>
        <h4><i>You're reviewing <a class="city" href="/destinations/<%= destination._id %>"><%= destination.name %></a></i></h4>
    </section>

    <form action="/reviews/create/<%= destination._id %>" method="POST">
        <label for="reviewer">Name:</label><br>
        <input type="text" id="reviewer" name="reviewer" required><br>

        <label for="title">Headline:</label><br>
        <input type="title" id="title" name="title" required><br>

        <label for="content">Comments:</label><br>
        <textarea id="content" name="content" required></textarea><br>

        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
