<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | Nomad Nest'}) %>
    <link rel="stylesheet" href="/styles/destination-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let review of reviews) { %>
                <li>
                    <h4> <%= review.title %></h4>
                    <p><b></b> <%= review.reviewer %></p>
                    <p><%= review.reviewDate.toLocaleDateString() %></p>

                    <a href="/reviews/<%= review._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
